.DS_Store

XPLM.xcodeproj/

XPLM.xcodeproj/project.pbxproj
XPLM.xcodeproj/project.xcworkspace/xcuserdata/

.idea

cmake-build-debug

XPLM/gz_deps


third_party/glew-2.2.0
third_party/imgui-docking
third_party/imgui-filebrowser-master
third_party/json-develop
third_party/timer
